table{
    width: 80%;
    margin-top: 20px;
    direction: rtl;
}
table, th, td {
    /* border: 1px solid black; */
    border: 1px solid black;
    border-collapse: collapse;
    text-align: right;
  }
  th, td {
    padding: 5px;
  }

  #header{
      background-color: rgb(156, 152, 152);
  }
caption{
    text-align: right;
    font-weight: 900;
}

#V{
  background-color: greenyellow;
}

#X{
  background-color: red;
}

.drop-down-menu{
  width: 200px;
}

#status{
  width: 10vw;
}

#test{
  position: relative;
  width: 10vw;
}

.suggestions-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}