.cards {
  display: grid;
  grid-template-columns: auto auto;
  margin-right: 10%;
  margin-left: 10%;
  gap: 10%;
  padding: 20px;
  text-align: center;
}

.card {
  text-align: right;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  border-radius: 2px;
}

.title {
  font-size: x-large;
  color: black;
}

.content {
  font-size: large;
}
